.App {
  width: 100vw;
  height: 100vh;
  color: white;
}

.background {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: -1;
}

h1 {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: 0px;
}

.loader {
  position: relative;
  height: 30px;
  width: 90vw;
  margin: 0px auto;
}

.bar {
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 100%;
  background: lightslategrey;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 6rem;
  }
}
